.people-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.person {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.person img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.person h3 {
  margin-bottom: 5px;
}

.person p {
  margin-bottom: 10px;
}

.about-us {
  font-size: 25px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin-right: 10px; /* Add margin between icons */
}

.social-icons a:last-child {
  margin-right: 0; /* Remove margin from the last icon */
}

.social-icons .fa-icon {
  color: black; /* Set the color of the icons to black */
}
