body {
  background: linear-gradient(
    to right,
    transparent,
    rgb(238, 237, 229),
    rgb(0, 238, 255),
    rgb(64, 206, 211),
    rgb(150, 232, 150)
  );
}

.team-container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 50px;
  margin-left: 10px;
}

.retro-header {
  align-items: center;
  color: rgb(5, 5, 5);
  margin-top: 90px;
  font-size: 40px;
}

.input-button {
  background-color: rgb(207, 231, 201);
  margin-top: 30px;
}

.submit-button {
  display: flex;
  margin-left: 45%;
  margin-top: 20px;
  background-color: rgb(5, 255, 134);
  padding: 25px 69px;
}

.finalize-button {
  display: flex;
  margin-top: 30px;
  margin-left: 48%;
  background-color: rgb(229, 74, 13);
  color: white;
  border: none;
  padding: 9px 30px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.retroContainer {
  display: flex;
  background-color: #49c365;
  border-radius: 5px;
  margin-top: 50px;
  padding-left: 2%;
  width: 60%;
  align-items: center;
  margin-left: 20%;
}
.retroTitle {
  font-size: 25px;
  font-weight: bold;
  padding-right: 10px;
  margin-bottom: 35px;
}

.newRetroContainer {
  display: inline-block;
  width: 110px;
  height: 60px;
}

.newRetroButton,
.joinButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.newRetroButton:hover,
.joinButton:hover {
  background-color: #0056b3;
}

.retroCodeButton {
  margin-left: 10px;
}

.joinCodeInput {
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 80px;
  margin-left: 22px;
}

.questionsContainer {
  margin-top: 10px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3.5rem;
  width: 50%;
  margin-left: 24%;
}

.joinButton {
  margin-top: 5px;
  margin-left: 10%;
  margin-right: 50px;
  margin-bottom: 10px;
  width: 85px;
}

.question {
  margin-bottom: 10%;
  font-weight: bold;
  margin-top: 10%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-height: 150px;
  overflow: auto;
  height: 150px;
  margin-left: 20px;
}

.box1 {
  background-color: rgb(244, 77, 77);
  border-radius: 10px;
}

.box2 {
  background-color: rgb(0, 255, 47);
  border-radius: 10px;
}

.box3 {
  background-color: rgb(125, 122, 121);
  border-radius: 10px;
}

.box4 {
  background-color: yellow;
  border-radius: 10px;
}

.error {
  color: red;
}

.comment {
  margin-right: 10px;
  margin-top: 5px;
}

.commentInputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 3%;
  margin-top: auto;
}

.roleSelect,
.commentInput,
.addCommentButton {
  margin-right: 10px;
}

.roleSelect {
  width: 140px;
  margin-bottom: 2%;
}

.commentInput {
  margin-bottom: 5%;
}

.addCommentButton {
  margin-bottom: 5%;
}

.completeButton {
  margin-top: 20%;
  margin-bottom: 10%;
}
