.retro-history {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(191, 174, 203);
}

.retro-entry {
  margin-bottom: 40px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

h3 {
  margin-top: 20px;
}

.question-container {
  margin-bottom: 20px;
}

.comment-box {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.comment-box > div {
  margin-bottom: 10px;
}

.comment-box > div:last-child {
  margin-bottom: 0;
}

.comment-box > div span {
  font-weight: bold;
}

.footer {
  margin-top: 40px;
  align-items: end;
  text-align: center;
  color: #777;
}

.footer a {
  color: #777;
  text-decoration: none;
}

.footer a:hover {
  color: #333;
}
