.nav-container {
  background: linear-gradient(
    to right,
    transparent,
    orange,
    yellow,
    green,
    rgb(174, 174, 194),
    rgb(98, 73, 116),
    violet
  );
  height: 60px;
}

.nav-header {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 5%;
}
