.create-team {
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  border: 2px solid #660065;
  border-radius: 10px;
  background-color: #fff;
  margin: 20px auto;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #660065;
}

h2 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #660065;
}

form {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #9c27b0;
}

input[type='text'],
input[type='email'],
select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #9c27b0;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
}

button:first-child {
  margin-right: 10px;
}

button:hover {
  background-color: #7b1fa2;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

li:last-child {
  border-bottom: none;
}

li button {
  padding: 5px 10px;
  background-color: #be28ec;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

li button:hover {
  background-color: #be28ec;
}
input[type='text'],
input[type='email'],
select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #be28ec;
}

input[type='text']::placeholder,
input[type='email']::placeholder,
select::placeholder {
  color: #be28ec;
}

input[type='text']:focus,
input[type='email']:focus,
select:focus {
  outline-color: #be28ec;
}

li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  color: #9c27b0;
}

li:last-child {
  border-bottom: none;
}
